.newUser {
  flex: 4;
  padding: 20px;
}

.newUserItem {
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
  width: 400px;
}
.newUserItem label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: rgba(150, 149, 149, 0.94);
}

.userUpdateInput {
  outline: none;
  padding: 10px 13px;
  border-radius: 7px;
  border: 1px solid rgba(150, 149, 149, 0.94);
  font-size: 16px;
  color: rgba(150, 149, 149, 0.94);
}

.userUpdateForm {
  display: flex;
}

.newUserGender label {
  margin-right: 10px;
}
.newUserGender input {
  margin-right: 10px;
}

.newUserForm {
  display: flex;
  flex-wrap: wrap;
}

.submitBtn {
  background-color: teal;
  color: white;
  padding: 12px 14px;
  width: 250px;
  margin-top: 30px;
  /* margin: 30px auto; */
  font-size: 18px;
}
